@model IEnumerable<VideoViewModel>
@{
    ViewBag.Title = "Home";
}

@foreach (var video in Model)
{
    @Html.Partial("_Video", video);
}

<div>
    <a asp-action="Create" class="btn btn-success">Create</a>
</div>
